<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Record EJS</title>

    <style>
        h1{
            text-align: center;
        }
        #mainForm{
            margin: 20px;
        }

        #mainDiv{
            text-align: center;
        }

        input{
            border-radius: 8px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Edit a Record</h1>
    <div id="mainDiv">
        <form id="mainForm" action="/EditSong/:id" method="post">
            <label for="Song_ID">Enter the Song ID</label>
            <br>
            <input id="Song_ID" type="text" name="SongID" value="<%= importantInfo[0].SongID %>">
            <br><br>
            <label for="Song_Name">Enter the Song Name:</label>
            <br>
            <input id="Song_Name" type="text" name="SongName" value="<%= importantInfo[0].SongName %>">
            <br><br>
            <label for="Artist_ID">Enter the Artist ID</label>
            <br>
            <input id="Artist_ID" type="text" name="ArtistID" value="<%= importantInfo[0].ArtistID %>">
            <br><br>
            <label for="Year_Released">Enter the Year the Song was Released:</label>
            <br>
            <input id="Year_Released" type="text" name="YearReleased" value="<%= importantInfo[0].YearReleased %>">
            <br><br>
            <br>
                <input type="submit" name="SaveInputs" value="Save">
            <br>
        </form>
    
        <form action="/EditSong/:id/Cancel" method="post">
            <input type="submit" name="CancelInputs" value="Cancel">
        </form>
        <p>Hello! There should be ejs scripting right here: <%= importantInfo[0].SongID %></p>
    </div>
</body>
</html>