<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Put title here</title>
</head>
<body>
    <form action="/AddSong" method="get">
        <input type="submit" name="AddSong" value="Add">
    </form>
    <br>
    <form action="/StartOver" method="post">
        <input type="submit" name="StartOver" value="Start Over">
    </form>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Song ID</th>
                <th>Song Name</th>
                <th>Artist ID</th>
                <th>Year Released</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <% for (var i = 0; i < importantInfo.length; i++) {%>
                <tr>
                    <td>
                        <form action="/DeleteSong/<%= importantInfo[i].SongID%>" method="post">
                            <input type="submit" name="Delete" value="Delete"/>
                        </form>
                    </td>
                    <td><%= importantInfo[i].SongID %></td>
                    <td><%= importantInfo[i].SongName %></td>
                    <td><%= importantInfo[i].ArtistID %></td>
                    <td><%= importantInfo[i].YearReleased %></td>
                    <td> <!--Figure out if you want this as a post or as a get-->
                        <form action="/EditSong/<%= importantInfo[i].SongID%>" method="get">
                            <input type="submit" name="EditSong" value="Edit">
                        </form>
                    </td>
                </tr>
            <% }%>
        </tbody>
    </table>
</body>
</html>